@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="columns">
    <div class="column is-half-tablet is-offset-one-quarter-tablet">
        <div class="box">
            <h1 class="title">@ViewData["Title"]</h1>
            <h2 class="subtitle">Create a new account.</h2>

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="field">
                    <label asp-for="Input.Email" class="label">Email</label>
                    <div class="control">
                        <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    </div >
                    <span asp-validation-for="Input.Email" class="has-text-danger"></span>
                </div>

                <div class="field">
                    <label asp-for="Input.FirstMidName" class="label">First Name</label>
                    <div class="control">
                        <input asp-for="Input.FirstMidName" class="input" autocomplete="off" aria-required="true" placeholder="Sven"/>
                    </div>
                </div>

                <div class="field">
                    <label asp-for="Input.LastName" class="label">Last name</label>
                    <div class="control">
                        <input asp-for="Input.LastName" class="input" autocomplete="off" aria-required="true" placeholder="Svensson"/>
                    </div>
                </div>

                <div class="field">
                    <label asp-for="Input.Password" class="label">Password</label>
                    <div class="control">
                        <input asp-for="Input.Password" class="input" autocomplete="new-password" aria-required="true" placeholder="password"/>
                    </div>
                    <span asp-validation-for="Input.Password" class="has-text-danger"></span>
                </div>

                <div class="field">
                    <label asp-for="Input.ConfirmPassword" class="label">Confirm Password</label>
                    <div class="control">
                        <input asp-for="Input.ConfirmPassword" class="input" autocomplete="new-password" aria-required="true" placeholder="password"/>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="has-text-danger"></span>
                </div>

                <div class="field">
                    <label class="label">Role</label>
                    <div class="control">
                        <div class="select">
                            <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" aria-required="true">
                                <option disabled selected>Select Role</option>
                            </select>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Role" class="has-text-danger"></span>
                </div>
                <div class="field">
                    <div class="control">
                        <button id="registerSubmit" type="submit" class="button is-link is-medium">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}