@model IEnumerable<CartItem>
@{
    ViewData["Title"] = "Index";
}

<div class="columns">
    <div class="column is-half-tablet is-offset-one-quarter-tablet">
        <div class="box">
            <h1 class="title has-text-centered">
                Cart Contents
            </h1>
            @if (Model.Any())
            {
                foreach (var cartItem in Model)
                {
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                                <a class="is-size-5" asp-controller="Product" asp-action="Details" asp-route-id="@cartItem.ProductId">@Html.DisplayFor(item => cartItem.Product.Title)</a>
                            </div>
                            <div class="level-item has-text-centered">
                                <p class="is-size-5">@Html.DisplayFor(item => cartItem.Product.Price)</p>
                            </div>
                        </div >
                        <div class="level-right">
                            <div class="level-item has-text-centered">
                                <form asp-action="RemoveFromCart" asp-route-id="@cartItem.Id" asp-controller="Cart">
                                    <button type="submit" class="button is-danger">
                                        <span class="icon">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </span>
                                        <span>Remove</span>
                                    </button>
                                </form>
                            </div>
                        </div >
                    </div>
                }
                <form asp-controller="Checkout" asp-action="GetUserId">
                    <div class="has-text-centered">
                        <button class="button is-link is-medium" type="submit">
                            <span>Checkout</span>
                            <span class="icon is-large">
                                <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon>
                            </span>
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>