@model IEnumerable<WebAppMVC.Models.ViewModels.CurrencyViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SEKrate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Base)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.SEKrate)
            </td>
        </tr>
}
    </tbody>
</table>