@model IEnumerable<CartItem>
@{
    ViewData["Title"] = "Success";
}

<h1>Failed Purchase due to insufficent funds</h1>


<div>
    <a Class="Button btn-light" asp-area="" asp-controller="Home" asp-action="Index"> Return to store </a>
</div>