@model WebAppMVC.Models.ViewModels.ModifyProductViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="columns">
    <div class="column is-half-tablet is-offset-one-quarter-tablet">
        <div class="box">
            <h1 class="title">
                Add Product
            </h1>

            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductId"/>


                <div class="field">
                    <label asp-for="Title" class="label"></label>
                    <div class="control">
                        <input asp-for="Title" class="input"/>
                    </div>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="field">
                    <label asp-for="Content" class="label"></label>
                    <div class="control">
                        <textarea class="textarea" asp-for="Content"></textarea>
                    </div>
                    <span asp-validation-for="Content" class="is-danger"></span>
                </div>

                <div class="field">
                    <label asp-for="CategoryId"></label>
                    <div class="control">
                        <div class="select">
                            <select asp-for="CategoryId" asp-items="Model.Categories"></select>
                        </div>
                    </div>
                    <span asp-validation-for="CategoryId" class="is-danger"></span>
                </div>

                <div class="field">
                    <label asp-for="Price" class="label"></label>
                    <div class="control">
                        <input asp-for="Price" class="input"/>
                    </div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="field">
                    <label asp-for="Quantity" class="label"></label>
                    <div class="control">
                        <input asp-for="Quantity" class="input"/>
                    </div>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>

                <div class="field">
                    <label asp-for="File" class="label">Upload Image to Azure</label>
                    <div class="control">
                        <input class="input" asp-for="File"/>
                    </div>
                    <span asp-validation-for="File" class="is-danger"></span>
                </div>

                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link is-medium">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}